@charset "UTF-8";

* {
  /*height: 100%;*/
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-image: linear-gradient(to right, #baf8ff, #59d1de);
} 

main {
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #005f6a2a;
  /*primeiro parametro é quanto essa sombra vai lado; para baixo; espalhar; transparencia*/
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #d95d02;
  text-align: center;
  text-shadow: 1px 1px 0px #81390575;
}

h2 {
  color: #e0813a;
}

p {
  text-align: justify;
}
