@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  border: 1px solid;
  justify-content:center;
  align-items:center;
  height: 100vh;
  background-color: #ecf0f1;
}
/**/
.content{
  background-color: white;
  border-radius: 15px;
  width: 960px;
  height:50%;
  /*para centralizar*/
  display: flex;
  justify-content:space-between;
  align-items:center;
  /*para o background verde não extourar e conter na box*/
  position: relative;
}

/*verde a ser substituido por harry*/
.content::before{
  content: "";
  position: absolute;
  background-color: #58af9b;
  width: 40%;
  height: 100%;
  /*borda do verde*/
  border-radius: 15px 0px 0px 15px;

  left: 0;
}
.title{
  font-size:28px;
  font-weight: bold;
  /*deixa as primeiras letras em caixa alta*/
  text-transform: capitalize;
}

.title-primary{
  color:white;
}
.description{
  font-size:14px;
  font-weight: 300;
  line-height: 30px;
}

.description-primary{
  color:white;
}

.description-second{
  color:#7f8c8d;
}

.btn{
  border-radius:15px;
  text-transform: uppercase;
  color: white;
  font-size:10px;
  padding:10px 50px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  /*tirar a borda radius ou border: none;*/
  border-width: 0px;
  margin-top: 1rem;
}

.btn-primary{
  background-color: transparent;
  border: 1px solid white;
  transition: background-color 0.3s;

}

.btn-primary:hover{
  background-color: white;
  color:#58af9b

}

.btn-second{
  background-color:#58af9b;
  border: 1px solid #58af9b;
  transition: background-color 0.3s;
}

.btn-second:hover{
  background-color:white;
  border: 1px solid #58af9b;
  color:#58af9b;

}
.title-welcome{
  color:white;
  text-transform: capitalize;

}

.title-second{
  color:#58af9b;
}

.first-column{
  text-align: center;
  /*espaçamento*/
  width: 40%;
  /*sobrepor o texto ao background verde*/
  z-index: 10;
}

.first-content {
  display: flex;

}

.first-content .second-column{
  z-index: 12;
}

.second-column{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media{
  margin: 1rem 0;
}
.list-social-media{
  display: flex;
  list-style-type: none;
}
/*pseudoclass not que para o primeiro negar o margin left*/
.link-social-media:not(:first-child){
  margin-left:10px;
}

.link-social-media .item-social-media{
  transition: background-color 0.3s;
}
.link-social-media:hover .item-social-media{
  background-color:#58af9b;
  color:white;
  border-color:#58af9b;
}

.item-social-media{
  border: 1px solid #bdc3c7;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color:#95a5a6;

}

.form {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.form input {
  height: 45px;
  border: none;
  background-color: #ecf0f1;
  width: 100%;/*serve para os botões*/
  border-radius: 5px;

}

input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
  -webkit-text-fill-color: 000 !important;
}

.label-input{
  background-color:#ecf0f1;
  margin: 8px;
  display: flex;
  align-items: center;
  color:#58af9b;
  border-radius: 5px;
}

.icon-modify{
  color:#58af9b;
  padding: 0px 5px;
}
.second-content{
  position: absolute;
  display: flex;
}

.second-content .first-column{
  order: 2;
  z-index: -1; /*ou opacity: 0;*/
}

.second-content .second-column{
  order: 1;
  z-index: -1;

}

.password {
  color:#34495e;
  margin: 15px 0;
  text-align: center;

}

.password::first-letter{
  text-transform: capitalize;
}

.sign-in-js .first-content .first-column,
.sign-in-js .first-content .second-column{
  z-index: -1;
}

.sign-in-js .second-content .first-column,
.sign-in-js .second-content .second-column{
  z-index: 12;
}

.sign-in-js .content::before{
  left: 60%;
}
/**/
.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column{
  z-index: -1;
}

.sign-up-js .first-content .first-column,
.sign-up-js .first-content .second-column{
  z-index: 12;
}

.sign-up-js .content::before{
  left: 60%;
}
